body {
  font-family: Sans-serif;
  font-size: 2.5rem;
  font-weight: 900;
  line-height: 1.2;

  width: 580px;
  margin: 3rem auto;
  padding: 0 3rem 0 3rem;

  color: #fff;
  background-color: #000;
}

button {
  border: none;
  background-color: transparent;
  background-size: cover;
}

.capsule {
  position: fixed;
  bottom: 3rem;
  left: 50%;

  margin-left: -1rem;
}

.pink {
  width: 2rem;
  height: 4rem;

  background-image: url('./pink.svg');
}

.libai {
  width: 2rem;
  height: 4rem;

  background-image: url('./libai.svg');
}

.poem {
  position: absolute;

  transition: opacity 1s;
}

.menu {
  position: fixed;
  right: 3rem;

  width: 2rem;
  height: 2rem;

  transition: opacity 1s;

  background-image: url('./menu.png');
}

.popup {
  position: fixed;
  bottom: -20rem;
  left: 50%;

  width: 16rem;
  height: 16rem;
  margin-left: -8rem;

  transition: .8s;

  background-image: url('./bg.png');
  background-size: cover;
}

.light {
  position: absolute;
  z-index: 1;

  width: 16rem;
  height: 16rem;

  pointer-events: none;

  border: none;
}

.popupButton {
  z-index: -1;

  padding: 2rem 0 0 2rem;
}

.popupButton button {
  margin: 1rem .3rem 1rem 1rem;

  filter: drop-shadow(0 .125rem .25rem rgba(0, 0, 0, .50));
}

.close {
  position: fixed;
  z-index: -1;

  width: 100%;
  height: 100%;

  pointer-events: none;
}

@media screen and (max-width: 580px) {
  body {
    width: auto;
  }
}