body {
  font-family: Sans-serif;
  font-size: 2.5rem;
  font-weight: 900;
  line-height: 1.2;

  width: 580px;

  color: #fff;
  background-color: #000;
}

button {
  border: none;
  background-color: transparent;
  background-size: cover;
}

.main {
  margin: 3rem auto;
  padding: 0 3rem 0 3rem;
}

.capsule {
  position: fixed;
  bottom: 3rem;
  left: 50%;

  margin-left: -1rem;
}

.capsule button {
  width: 2rem;
  height: 4rem;

  background-image: url("./pink.svg");
}

.poem {
  position: absolute;

  transition: opacity 1s;
}

.menu {
  position: absolute;
  right: 3rem;

  width: 4rem;
  height: 4rem;

  transition: opacity 1s;

  background-image: url("./menu.svg");
}

.popup {
  position: fixed;
  bottom: -20rem;
  left: 50%;

  overflow: hidden;

  width: 16rem;
  height: 16rem;
  margin-left: -8rem;

  transition: 0.8s;

  background-image: url("./menu.svg");
  background-size: cover;
}

.popupButton {
  padding: 2rem 0 0 2rem;
}

.popupButton button {
  margin: 1rem 0.3rem 1rem 1rem;
  opacity: 0.5;
  width: 2rem;
  height: 4rem;
}

.close {
  position: absolute;
  z-index: -1;

  width: 100%;
  height: 100%;
}

@media screen and (max-width: 580px) {
  body {
    width: auto;
  }
}